.item{
    margin:30px 10px;
}

.crosscheck-btn{
    border-radius: 5px;
    padding: 10px;
    background: blue;
    color: white;
    font-weight: bold;
}
.item > div:first-child{
    width:80%;
    display: inline-block;
}
.item > div:nth-child(2){
    width:19%;
    display: inline-block;
}
.doi{
    background: yellow;
}
.opacity-p2{
    opacity: 0.2;
}